* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
}

nav {
    position: fixed;
    top: 0;
    background-color: white;
    height: 40pt;
    width: 100%;
    box-shadow: 0 0 20px #888;
    background-color: #6eabff;
    color: white;
    text-align: center;
}
    nav input, nav button {
        font-size: 12pt;
        padding: 5px;
    }

p {
    margin: 8pt 0;
}

p#limit {
    position: fixed;
    bottom: 0;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

button#close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
}

.disabled {
    opacity: 0.25;   
}

#results {
    margin-top: 40pt;
}

#results li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bbb;
    background-color: #eee;
    overflow: auto;
}
    #results p {
        margin: 8pt 5px;
    }
    #results li .name {
        font-weight: bold;
    }
    #results li div {
        float: right;
        background-color: #777;
        color: white;
    }
    #results li div a {
        color: white;
    }

